[Unit]
Description=ModBros Monitoring
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/modbros/mobro-raspberrypi/scripts
ExecStart=/home/modbros/mobro-raspberrypi/service/modbros.sh
StandardOutput=null
StandardError=null
Restart=on-abort
User=modbros

[Install]
WantedBy=multi-user.target