[Unit]
Description=ModBros Monitoring
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ModbrosMonitoring
ExecStart=/home/pi/ModbrosMonitoring/Service/modbros.sh
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target