[Unit]
Description=ModBros Monitoring
After=network.target

[Service]
WorkingDirectory=TODO
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target